/**
 * fil: css/style.css
 **/
/* Variabler: genbruges og gør designvalg enkle */
:root {
  /* farver */
  --blue:  #c8e0e3;
  --white: #ffffff;
  /* fonte */


/* navigationsfarve */
  --navfarve: #0026ff;

}

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Her bruges en variabel: --blue */
body {
  background-color: var(white);
  background-image: url(https://media1.giphy.com/media/dZEiXnjLQ46N4EoR0v/giphy.gif?cid=6c09b9527a6d0d3b840d46ee3270184d5e97961253d469df&rid=giphy.gif&ct=s);
}


/* Layout */

/* Typografi */
h2 {
  border-bottom: 2px solid var(--white);
  color: var(--white);
  background-color: var(--navfarve);
  text-align: center;
  padding: 10px;
}



.menu {
    margin:  0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: var(--navfarve);
}

.menu .menu-item {
    display: table-cell;
}

.menu .menu-item a {
    display: block;
    padding: 1em;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.menu .menu-item a:hover {
    background-color: orange;
}

p {
  width: 400px;

}

header {
  text-align: center;
}

/* wrap går rundt om */
#wrap {
  width: 960px;
  margin: auto;
}

/* Gallery*/
 img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}


h1, h3, h4, h5, h6
{
  font-family: 'Lato', sans-serif;
  color: blue;
}
